# Data Science Tools and Ecosystem

## Author
Duc Huynh

In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives:
* List popular languages for Data Science
* List libraries for specific purposes 
* Learn how to use some basic tools for Data Science
* Practicing

Some of the popular languages that Data Scientists use are: 
1. Python
2. SQL
3. R
4. Julia

Some of the commonly used libraries used by Data Scientists include:
* Pandas
* Numpy
* Matplotlib
* Scikit-learn

| Data Science Tools |
| :-: |
| Jupyter Notebook |
| Jupyter Lab |
| Rstudio |

### Below are a few examples of evaluating arithmetic expression in Python

In [1]:
"""This a simple arithmetic expression to mutiply then add integers"""
(3*4)+5

17

In [5]:
"""This will convert 200 minutes to hours by diving by 60"""
a = (200//60)
b = (200%60)
print ("200 minutes are equal to",str(a), "hour", str(b), "minutes")

200 minutes are equal to 3 hour 20 minutes